@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #eee;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

nav {
  display: flex;
  gap: 1rem;
}